body{
    font-family: 'Work Sans', sans-serif;
}

#test-text-body{
    margin: 0;
    padding: 0;
}

#test-text-p{
    margin: 0;
    padding: 0;
    font-size: 8px;
    color: #eee;
}

.small-text-span{
    word-break: break-all;
    word-wrap: break-word;
    transition: all 0.5s ease 0.5s;
}

.back-link{
    width: 100%;
    margin: 20px;
    text-align: center;
}

.bg-text-effect-link{
    text-align: center;
    margin: 50px 0;
}

.bg-text-effect-link a{
    color: #111;
}

#test-1{
    line-height: 32px;
    display: flex;
    margin-left: 16px;
}

#test-2{
    line-height: 30px;
    display: flex;
    margin: 40px 0 0 16px;
}

#test-3{
    line-height: 26px;
    display: flex;
    margin: 40px 0 0 16px;
}

#y-text-1{
    text-decoration: underline;
    background-color: #FFD47F;
}

#y-text-2{
    text-decoration: underline;
    background-color: #FFD47F;
}

#y-text-3{
    text-decoration: underline;
    background-color: #FFD47F;
}

#p-text-1{
    text-decoration: underline;
    background-color: #FFABDC;
}

#p-text-2{
    text-decoration: underline;
    background-color: #FFABDC;
}

#p-text-3{
    text-decoration: underline;
    background-color: #FFABDC;
}

#b-text-1{
    text-decoration: underline;
    background-color: #A5B1FF;
}

#b-text-2{
    text-decoration: underline;
    background-color: #A5B1FF;
}

#b-text-3{
    text-decoration: underline;
    background-color: #A5B1FF;
}

.small-text{
    margin: 0 0 0 16px;
    color: #ddd;
}